#main {
	padding-top: 160px;
	padding-left: 115px;
}
#banner {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}
#banner, #user-panel {
	background-color: #6699ff;
}
.navbar {
	width: 85%;
	min-width: 1088px;
	margin: auto;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background-color: rgba(0, 0, 0, 0);
}
#nav1 {
	border-width: 0px 0px 2px 0px;
}
#nav2, #admin-nav {
	border-width: 0px;
}
#nav2 h2, #admin-nav {
	text-align: center;
	color: #fff;
	font-weight: bold;
	cursor: default;
}
.navbar-brand {
	padding: 0px;
}
#nav-link a {
	font-size: 24px;
	color: #000;
	font-weight: bold;
}
#nav-link a:hover {
	color: #fff;
	background-color: #ccc;
}
#user-hint a {
	font-size: 20px;
	color: #fff;
	text-decoration: underline;
}
#admin-nav {
	background-color: #ffcc66;
}
#admin-link {
	margin-left: 129px;
}
#admin-link a {
	font-size: 24px;
	color: #fff;
	font-weight: bold;
}
#admin-link a:hover {
	background-color: #ccc;
	color: #333;
}
#admin-link .badge {
	background-color: #ff3333;
	margin-left: 13px;
	visibility: hidden;
}
#user-panel {
	position: fixed;
	left: 0px;
	top: 0px;
	padding-top: 115px;
	width: 60px;
	height: 100%;
	text-align: center;
}
#user-panel .mCSB_dragger_bar{
	left: 20px;
}
#user-panel img {
	width: 46px;
	height: 46px;
	border: 2px solid #fff;
	margin-bottom: 25px;
}
.panel-item {
	width: 100%;
	border: 2px solid #fff;
	padding: 4px 0px;
	background-color: #3e7cff;
	margin-bottom: 25px;
}
.panel-item a {
	color: #fff;
	font-size: 13px;
	font-weight: bold;
}
#user-panel .badge {
	position: relative;
	top: 10px;
	right: -18px;
	background-color: #ff3333;
	cursor: default;
	visibility: hidden;
}
#user-panel .active {
	border-color: #3e7cff;
	background-color: #fff;
}
#user-panel .active a {
	color: #3e7cff;
}
#setting {
	padding: 0.8em 0px;
}
#logout {
	margin-top: 120px;
	padding: 0.7em 0px;
	background-color: #fff;
}
#logout a {
	color: #333;
	font-size: 13px;
	font-weight: bold;
}
#admin-nav li.active a {
	color: #333;
}